[submodule "pumas"]
	path = deps/pumas
	url = https://github.com/niess/pumas.git
[submodule "turtle"]
	path = deps/turtle
	url = https://github.com/niess/turtle.git
[submodule "gull"]
	path = deps/gull
	url = https://github.com/niess/gull.git
